@import "tailwindcss";

@theme {
  --color-primary: #4f8cff;
  --color-secondary: #121826;
  --color-accent: #22d3ee;

  --color-base-100: #0b0f19;
  --color-base-200: #121826;
  --color-base-300: #1a2238;
}
