@import "tailwindcss";

@theme {
  --color-primary: #1e293b;
  --color-secondary: #0f172a;
  --color-accent: #020617;

  --color-base-100: #020617;
  --color-base-200: #020617;
  --color-base-300: #020617;
}
